services:
  db:
    image: postgres:13-alpine
    container_name: postgres
    env_file:
      - .env
    ports:
      - "5432:5432"

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s
    command: ["postgres", "-c", "log_statement=all"]

    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - backend

  app:
    build: /app/
    container_name: app
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./images:/app/images
      - ./logs:/app/logs
      - ./backup:/app/backup
      - ./app:/app

    networks:
      - app_network
      - backend

  nginx:
    image: nginx:stable-alpine3.23-perl
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./images:/usr/share/nginx/html/images
      - ./static:/usr/share/nginx/html
      - ./logs:/var/log/nginx

    depends_on:
      - app

    networks:
      - app_network

volumes:
  db_data:

networks:
  app_network:
    driver: bridge
  backend:
    driver: bridge
